/** Index.html **/
.logo {
    padding-top: 0.5em;
}

#nav-search {
    position: absolute;
    left: 23em;
    bottom: 1em;
    width: 20em;
}

.btn-circle {
    border-radius: 0.5em !important;
}

.btn-circle:hover {
    color: white !important;
}

.borders {
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}

#car-search, #login, #signup  {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/** Login Form **/

#login, #signup {
    margin-top: 3em;
    width: 50%;
    position: absolute;
    left: 25%;
}

/* Full-width inputs */
#login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5em;
}

/* Set a style for all buttons */
#login-btn {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5em;
}

/* Add a hover effect for buttons */
#login-btn:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancel-btn {
    width: auto;
    padding: 10px 18px;
    border-radius: 0.5em !important;
}

/* Center the avatar image inside this container */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
#login img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
#login .container {
    padding: 16px;
}

/* The "Forgot password" text */
#login span.password {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    #login span.password {
        display: block;
        float: none;
    }

    #login .cancel-btn {
        width: 100%;
    }
}

/** Sign up form **/
#signup {box-sizing: border-box}

/* Full-width input fields */
#signup input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 0.5em;
}

#signup input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    border-radius: 0.5em;
}

#signup hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
#signup button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 0.5em;
}

#signup button:hover {
    opacity:1;
    border-radius: 0.5em;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
#signup .container {
    padding: 16px;
}

/* Clear floats */
#signup .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    #signup .cancelbtn, .signupbtn {
        width: 100%;
    }
}